body{
    margin-top: 180px;
    background-color: rgb(170, 153, 101);
}

.h1 {
    margin-top: 35px;
}

#keyboard
{
    margin-top: 30px;
}

.k1
{
    margin-left: 450px;
    font-size: 60px;
    color: rgb(94, 31, 31);
}

.k2
{
margin-left: 350px;
font-size: 25px;
color: blanchedalmond;
padding-top: 10px;
}